[Desktop Entry]
Version=1.0
Type=Link
Name=index.html
Comment=
Icon=user-bookmarks
URL=file:///home/anonymous/Downloads/MHDDoS-main%20%282%29/github.html
